@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 12, 74, 110; /* Deep sky blue text for a softer look than black */
  --background-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  overflow-x: hidden;
}

/* Ensure smooth scrolling */
html {
  scroll-behavior: smooth;
}